<% if @messages != nil %>
  <div id="error_explanation">
    <h2> Sign In Failed </h2>
    <ul>
    <% @messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='signin-form-container'>
  <%= form_for User.new, url: login_path(User.new), method: :post do |f|%>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Sign In" %>
  <% end %>

  <%= link_to 'Or, log in with Facebook!', '/auth/facebook', class:'fb-link' %>
</div>