<p>Add a Comment</p>
<%= form_for [recipe, Comment.new] do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :recipe_id, :value => recipe.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Post" %>
<% end %>
