

<div class='show-recipe'>
  <div class='recipe-info'>
  <%= image_tag @recipe.image.profile.url %>
  <div class="details">
  <h3><%= @recipe.name %></h3>
  <p class='show-description'><%= @recipe.description %></p>
  <label class='show'>Ingredients:</label>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li class='show'><%= ingredient %></li>
      <% end %>
    </ul>
    <label class='show'>Directions:</label>
  <p class='show-directions'><%= @recipe.directions %></p>
      <div class='liked'><%= render partial: 'hearts/button', locals: { recipe: @recipe } %></div>
      <%= render partial: 'meals/form', locals: {recipe: @recipe, current_user: current_user} %>
      <% if current_user.recipes.include?(@recipe) %>
      <div class='show'>      
        <%= link_to "Edit Recipe", edit_user_recipe_path(current_user, @recipe)%>
        <br>
        <%= link_to "Delete Recipe", user_recipe_path(current_user, @recipe), :confirm => "Are you sure?", :method => :delete %>
        </div>
        </div>
      <% end %>
  </div>
  <div class="comments">
    <%= render partial: "comments/form", locals: {recipe: @recipe, comment: @comment} %>
    <div class="commentList"></div>
  </div>
</div>