<h3>Sign Up To Start Building Your Grocery list!</h3>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2> Sign Up Failed </h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='form-container'>
<%= form_for @user do |f| %>
    <%= f.label "Name"%>
    <%= f.text_field :name %>
    <%= f.label "Email "%>
    <%= f.email_field :email %>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <%= f.label "Image" %>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
    <%= f.submit "Sign me up!" %>
<% end %>
<%= link_to 'Or, sign up with Facebook!', '/auth/facebook', class:'fb-link' %>
</div>