<!DOCTYPE html>
<html>
  <head>
    <title>RecipesToGroceries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to "Home", root_path %>
    <%= link_to "Create Recipe", new_user_recipe_path(current_user, @recipe = Recipe.new) %>
    <%= link_to "Profile", new_user_recipe_path(current_user, @recipe = Recipe.new) %>
    <%= link_to "Mealplan", user_meals_path(current_user) %>
    <% end %>
    <%= yield %>
  </body>
</html>
