<!DOCTYPE html>
<html>
  <head>
    <title>RecipesToGroceries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <div class="container">
      <h1 class='header'>Recipes to Groceries</h1> 
      <img src="<%= asset_path('header1.png')%>" class='header'>
  <body>
    <ul class="menu">
      <% if logged_in? %>
      <li class="link"><%= link_to "Recipes", root_path, class: "indexPages" %>
        <ul class="dropdown">
          <li><%= link_to "Popular Recipes", popular_recipes_path, class: "indexPages" %></li>
          <li><%= link_to "Recipes you Love", favorites_path, class: "indexPages" %></li>
          </ul>
        </li>
        <li><%= link_to "Create Recipe", new_user_recipe_path(current_user, @recipe = Recipe.new) %></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Meal Plan", user_meals_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
    <div class="content">
      <%= yield %>
    </div>
  </body>
      <small class='footer'> &copy; Copyright 2018, Kristen Leach for Flatiron School </small>
  </div>

</html>
